<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGRISERVE</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='chatroom.css')}}">
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">FYP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
			 <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

  

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="heading mb-4">
                <div class="room-info">
                    <h3>ID: <span class="heading-mark">{{room_id}}</span></h3>
                    <h5>You have joined as <span class="heading-mark">{{display_name}}</span></h5>
                    <div>Ask your friends to join using the room id: <div id="room_link"></div><br><span><a href="">Click to Share link</a></span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="video_grid" class="col-md-6"></div>

        <div class="col-md-6">
            <div id="div_local_vid" class="video-item" style="height:400px;">
                <div class="vid-wrapper" style="height:400px;">
                    <video id="local_vid" autoplay muted></video>
                </div>
            </div>
            <div id="control_box" class="control-box mt-4">
                <div class="d-flex justify-content-around align-items-center button-box">
                    <button id="bttn_mute" class="btn btn-lg btn-outline-secondary rounded-circle">
                        <span id="mute_icon" class="material-icons pt-2">mic</span>
                    </button>
                    <button id="bttn_vid_mute" class="btn btn-lg btn-outline-secondary rounded-circle">
                        <span id="vid_mute_icon" class="material-icons pt-2">videocam</span>
                    </button>
                    <button id="call_end" class="btn btn-lg btn-danger rounded-circle">
                        <span class="material-icons pt-2">call_end</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Your custom scripts -->
<script src="{{url_for('static', filename='chatroom_checkpoint.js')}}"></script>

</body>
</html>
